# build output
dist

# dependencies
node_modules
yarn.lock
package-lock.json

# logs
*.log

# macOS-specific files
.DS_Store

# editors
.vscode
.devcontainer

# These are generated and not commited
docs

# cache
.eslintcache

# Temporary
webhook-schema.json
webhook-schema.ts